.tool-bar {
    position: relative;

    &-actions {
        border-bottom: solid 2px #f1f3f5;
        border-right: 1px solid $light-color3;
        width: 0;
        overflow-y: hidden;
        overflow-x: hidden;
        background-color: #fff;

        // mobile
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 200;
        height: 0;
        width: 100vw;
        transition: all 0.3s;

        @include for-medium-layout {
            position: static;
            height: initial;
            width: 0;
        }

        &.open-section {
            width: 100vw;
            height: rem(400px);
            transition: all 0.3s;

            @include for-medium-layout {
                width: rem(550px);
                height: initial;
            }
        }

        &.open-edit {
            //mobile
            width: 100vw;
            height: rem(400px);

            @include for-medium-layout {
                width: rem(325px);
                height: initial;
            }
        }

        &__header {
            border-top: $primary-color 5px solid;
            border-bottom: solid 1px #f1f3f5;
            padding: rem(6px) rem(16px);
            align-items: center;

            .inner {
                .undo {
                    margin-inline-end: rem(10px);
                    font-size: rem(16px);
                }
            }

            h2 {
                font-family: Roboto-Bold, sans-serif;
                // margin-inline-end: rem(180px);
            }

            .close {
                font-size: rem(12px);
                cursor: pointer;
                padding-bottom: (5px);
            }
        }

        .tool-bar-theme {
            overflow-y: auto;
            height: 80vh;
        }
    }
}