.tool-bar {
    position: relative;

    &-actions {
        border-bottom: solid 2px #f1f3f5;
        border-right: 1px solid $light-color3;
        width: 0;
        overflow-y: hidden;
        overflow-x: hidden;
        background-color: #fff;

        // mobile
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 200;
        height: 0;
        width: 100vw;
        transition: all 0.3s;

        @include for-medium-layout {
            position: static;
            height: initial;
            width: 0;
        }

        &.open-section {
            width: 100vw;
            height: rem(400px);
            transition: all 0.3s;

            @include for-medium-layout {
                width: rem(550px);
                height: initial;
            }
        }

        &.open-edit {
            //mobile
            width: 100vw;
            height: rem(400px);

            @include for-medium-layout {
                width: rem(325px);
                height: initial;
            }
        }
    }
}